* {
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: minmax(200px, 400px) 1fr;
}
h2 {
  font-size: 1.4rem;
  margin-top: 2rem;
  font-weight: 900;
  padding-bottom: 1em;
}
p,
h2,
h3 {
  font-weight: 750;
  margin-bottom: 0.2em;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
h2,
h3 {
  display: block;
}
h3 {
  font-size: 1rem;
}
.sidebar {
  background-color: #1992d4;
  flex: 1 1 250px;
  padding-left: 1.5em;
  height: 100%;
}
.right {
  flex: 11 1 159px;
  min-width: 400px;
  display: grid;
  grid-template-rows: minmax(18vh, 1fr) 7fr;
}
.main {
  gap: 1em;
  background-color: #e2e8f0;
  padding: 1em;
  padding-right: 1.5em;
  /* padding-top: 2em; */
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: 7fr 2fr;
}
.header {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px grey;
  z-index: 1;
}
.mainleft {
  /* display: grid; */
  /* grid-template-rows: 3em 1fr; */
}
.mainleft p {
  font-weight: 400;
}
.mainleft-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 18px;
  grid-auto-rows: 1fr;
}

.mainleft-grid-items {
  background-color: #ffffff;
  border-radius: 6px;
  min-height: 200px;
  border-left: 9px solid #f0b429;
  padding: 1em;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
.mainleft-grid-items div {
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 0.6em;
}
.mainleft-grid-items img {
  width: 2em;
}
.mainleft-grid h2 {
  margin-top: 0.5em;
  padding-bottom: 0;
}
.announcements,
.trending {
  /* height: 50%; */
}
.announcements > div {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 1em;
}
.announcements > div > div,
.trending > div {
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  border-radius: 6px;
}
.announcements > div > div {
  background-color: #e2e8e0;
  gap: 2px;
}
.announcements > div > div > div {
  background-color: #ffffff;
  padding: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.announcements p {
  font-size: 0.8rem;
  color: #515668;
}
